<!DOCTYPE html>
<html lang="eng" class="no-js">

<head>

	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="static/img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="intenserave">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Reddit-Bot</title>

	<!--
			Google Font
			============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,500,600" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500i" rel="stylesheet">

	<!--
			CSS
			============================================= -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css">
	<link rel="stylesheet" href="static/css/linearicons.css">
	<link rel="stylesheet" href="static/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/css/bootstrap.css">
	<link rel="stylesheet" href="static/css/magnific-popup.css">
	<link rel="stylesheet" href="static/css/nice-select.css">
	<link rel="stylesheet" href="static/css/animate.min.css">
	<link rel="stylesheet" href="static/css/owl.carousel.css">
	<link rel="stylesheet" href="static/css/main.css">
</head>

<body>

	<!-- Start Header Area -->
	<header id="header">
		<div class="container">
			<div class="row align-items-center justify-content-between d-flex">
				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li class="menu-active"><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="courses.html">Contact</a></li>
					</ul>
				</nav><!-- #nav-menu-container -->
			</div>
		</div>
	</header>
	<!-- End Header Area -->

	<!-- Start Banner Area -->
	<section class="home-banner-area relative">
		<div class="container">
			<div class="row fullscreen d-flex align-items-center justify-content-center">
				<div class="banner-content col-lg-8 col-md-12">
					<img src="static/img/logo.png">
					<h1 class="wow fadeIn" data-wow-duration="4s">REDDIT-BOT</h1>
					<p class="text-white">
						In the history of modern astronomy, there is probably no one greater leap forward than the building and launch of the space
						telescope.
					</p>
					<div class="input-wrap">
						<form action="" class="form-box d-flex justify-content-between">
							<input type="text" placeholder="Enter URL" class="form-control" name="query">
							<button type="submit" class="btn search-btn">Search</button>
						</form>
					</div>
					<button onclick="show('test1')"  class="btn-primary">Result</button>
					<button onclick="show('test2')"  class="btn-primary">Graph</button>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->


	<!-- Start Faculty Area -->
	<section style="display:none" id='test1' class="faculty-area section-gap">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-4">
						<div class="section-title text-center">
							<h1>Result</h1>
							<p>
								Here gonna be the link
							</p>
						</div>
					</div>
				</div>
				<div class="row justify-content-center d-flex align-items-center">
					<!--This must gonna go in loop -->
					<div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
						<div class="meta-text text-center">
							<h4>Category Name</h4>
							<p class="designation">Description of the Category</p>
							<div class="meta-text" data-wow-duration="1s" data-wow-delay=".1s">
								<p>
									Actual Probability
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	<!-- End Faculty Area -->

	<!-- Start About Area -->
	<section style="display:none" id='test2' class="about-area section-gap">
		<!-- This is for the graph-->
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-lg-12 col-md-6 about-center">
					<img class="img-fluid" src="static/img/about.jpg" alt="">
				</div>
				<div class="col-lg-12 col-md-12 about-center">
					<h1>
						Graph Description
					</h1>
					<div class="wow fadeIn" data-wow-duration="1s">
						<p>
							There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s exciting to think
							about setting up your own viewing station. In the life of any aspiring astronomer that it is time to buy that first
							telescope. It’s exciting to think about setting up your own viewing station.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End About Area -->





	<!-- Start Footer Area -->
	<footer class="footer-area section-gap2">
		<div class="container">
			<div class="footer-bottom row align-items-center">
				<p class="footer-text m-0 col-lg-8 col-md-12"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#" target="_blank">Reddit-Bot</a>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
				<div class="col-lg-4 col-md-12 footer-social">
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>
				</div>
			</div>
		</div>
	</footer>
	<!-- End Footer Area -->

	<!-- ####################### Start Scroll to Top Area ####################### -->

	<!-- ####################### End Scroll to Top Area ####################### -->

	<script src="static/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	 crossorigin="anonymous"></script>
	<script src="static/js/vendor/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
	<script src="static/js/easing.min.js"></script>
	<script src="static/js/hoverIntent.js"></script>
	<script src="static/js/superfish.min.js"></script>
	<script src="static/js/jquery.ajaxchimp.min.js"></script>
	<script src="static/js/jquery.magnific-popup.min.js"></script>
	<script src="static/js/owl.carousel.min.js"></script>
	<script src="static/js/owl-carousel-thumb.min.js"></script>
	<script src="static/js/jquery.sticky.js"></script>
	<script src="static/js/jquery.nice-select.min.js"></script>
	<script src="static/js/parallax.min.js"></script>
	<script src="static/js/waypoints.min.js"></script>
	<script src="static/js/wow.min.js"></script>
	<script src="static/js/jquery.counterup.min.js"></script>
	<script src="static/js/mail-script.js"></script>
	<script src="static/js/main.js"></script>
	<script>
		function show(name1)
		{
			var sect=document.getElementById(name1);
			var displaySetting=sect.style.display;
			if(displaySetting=='block')
			{
				sect.style.display='none';
			}
			else
			{
					sect.style.display='block';
			}
		}
	</script>
</body>

</html>
